-# .container
-#   = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
-#     .form_item 
-#       = f.label :nickname, 'Your Name', class: 'form_ttl'
-#     .form_item
-#       = f.text_field :nickname, class: 'form_txt'
-#     .form_item 
-#       = f.label :avatar, 'Your Image', class: 'form_ttl'
-#     .form_item  
-#       = f.file_field :avatar, class: 'form_avatar'

-#     = f.submit '保存', class: 'btn_primary'